input {
  width:80vw;
  overflow-x:visible;
  border:none;
  outline:none;
}
body {
  overflow:auto;
}
span {
  max-width:25%
}
ul {
  list-style-type:none;
}
.error {
  color:red;
}
.output {
  color:blue;
}
.add {
  color:blueviolet;
}
.comment {
  color:green;
}
